apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "412353803789.dkr.ecr.us-east-1.amazonaws.com/expense-tracker-backend:latest"
          ports:
            - containerPort: 5000
          env:
            - name: DATABASE_URL
              value: "postgresql://expense_user:expense_pass@expense-tracker-postgres:5432/expense_db"
            - name: DATABASE_HOST
              value: "expense-tracker-postgres"
            - name: DATABASE_NAME
              value: "expense_db"
            - name: DATABASE_USER
              value: "expense_user"
            - name: DATABASE_PASSWORD
              value: "expense_pass"
