postgres:
  image:
    repository: postgres
    tag: "15"

  service:
    port: 5432

  persistence:
    enabled: true
    size: 5Gi

  env:
    POSTGRES_DB: expense_db

  dbSecret:
    name: expense-tracker-db
    userKey: POSTGRES_USER
    passwordKey: POSTGRES_PASSWORD
